					<!-- Post Slider -->
					<div class="sayit_fullwidth_block">
						<div class="sayit_post_slider_widget">
							<div class="sayit_widget_container">
								<div class="sayit_post_slider_cont">
									<div class="sayit_post_slider_wrapper" id="sayit_post_slider_123344" data-autoplay="off" data-pause="yes" data-speed="8000" data-default-height="500">
										<!-- Item 1 -->
										<div class="sayit_post_slider_item item_1" data-number="1">
											<div class="sayit_slider_item_wrapper sayit_js_bg_image" > <%= image_tag ( "img1"), class: "sayit_slider_item_wrapper sayit_js_bg_image" %>
												<div class="sayit_overlay"></div>

												<div class="sayit_post_meta_cont">

													<h2 class="sayit_post_title" style="text-align:center; color:white;">Category: <%= @category.name %></h2>
          
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>